<nav class="navbar navbar-dark bg-primary mb-4">
  <div class="container mb-10">
    <a routerLink="/" class="navbar-brand">Angular 5 Portfolio Application - M Davidson</a>
  </div>


  <div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/users" class="nav-link">Users</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/posts" class="nav-link">Posts</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
        <a routerLink="/coins" class="nav-link">Cryptos</a>
      </li>
    </ul>
  </div>
</nav>